.footer-container {
  width: 100%;
  background-color: #333;
  color: #fff; 
  padding: 20px 0; 
  bottom: 0;
 
}

.all-container {
  width: 80%; 
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.media-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 10px;
}

.footer-logo {
  width: 150px; 
}

.icon-container {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-container li {
  margin: 0 10px; 
}

.social-icon {
  font-size: 24px; 
  color: #fff; 
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #f0f0f0; 
}

.links, .contact {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.links ul, .contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li, .contact li {
  margin-bottom: 5px;
}

.links a, .contact a {
  color: #fff; 
  text-decoration: none;
}

.links a:hover, .contact a:hover {
  text-decoration: underline; 
}
